# Build
BUILD_CONFIGURATION=Release # Debug
BUILD_IMAGE_CONFIGURATION=release # debug

# Docker-External Ports
API_HTTP_PORT=7070
API_HEALTH_PORT=7001
DATABASE_PORT=7002
MESSAGEBUS_AMQP_PORT=7003
MESSAGEBUS_MANAGEMENT_PORT=7004
TELEMETRY_OTLP_GRPC_PORT=7005
TELEMETRY_OTLP_HTTP_PORT=7006
SMTP_EXTERNAL=7575
SMTP_UI=7777

# Common Environment 
ASPNETCORE_URLS=http://+:8080;http://+:5001
ASPNETCORE_ENVIRONMENT=Production # Development

Diagnostics__OpenTelemetry__Enabled=true 
OTEL_EXPORTER_OTLP_ENDPOINT=http://telemetry:18889
OTEL_EXPORTER_OTLP_PROTOCOL=grpc

# Api
Modules__Users__Auth__Google__ClientId=
Modules__Users__Auth__Google__ClientSecret=
Modules__Users__Sender__ConfirmationUrl=https://bbc98ddcede2.ngrok-free.app/confirmEmail
Modules__Users__Sender__ResetUrl=https://bbc98ddcede2.ngrok-free.app/resetPassword
Modules__DataSource__Brokers__IsCluster=true

# Seed
Seed__Instance=http://api:8080/api
Seed__DefaultUser__Devices__PicoController__GlobalTopic=prod/controller

# Database
PostgreSql__Host=database
PostgreSql__Port=5432
PostgreSql__Database=senswave
PostgreSql__Username=postgres
PostgreSql__Password=postgres

# Message Bus
MessageBus__Type=RabbitMq
MessageBus__RabbitMq__Host=rabbitmq://messagebus
MessageBus__RabbitMq__Username=guest
MessageBus__RabbitMq__Password=guest

# Smtp
Smtp__Enabled=true
Smtp__User=test
Smtp__Password=test
Smtp__Host=smtp
Smtp__Port=25
Smtp__SenderEmail=test_sender@senswave.com
Smtp__UseSsl=false
