<html>

<body style="max-width: 512px;">

    <table style="max-width:512px; margin:auto; font-family: Arial, sans-serif; background-color:#F5F5F5;">
        <tbody>
            <tr>
                <td style="border-bottom:1px solid #EBAB17; padding:0;">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding:16px; width:64px;">
                                    <a href="https://senswave.net">
                                        <img src="https://senswave.net/icon.png" alt="Logo"
                                            style="width:48px; border-radius:12px; display:block;">
                                    </a>
                                </td>
                                <td>
                                    <a href="https://senswave.net" style="text-decoration:none;">
                                        <h1 style="font-size:24px; color:#33363F; margin:0;">Senswave</h1>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="color:#33363F; padding:16px;">
                    <h3 style="font-size:18px; margin-top:0; margin-bottom:8px;">
                        {title}
                    </h3>
                    <div style="font-size:14px; line-height:1.5;">
                        {content}
                    </div>
                </td>
            </tr>

            <tr>
                <td style="background-color:#33363F; border-radius:0 12px 0 12px;">
                    <div style="padding:16px; text-align:center; font-size:14px;">
                        <span style="color:#F5F5F5; margin-right:6px;">You have a question?</span>
                        <a href="https://senswave.net/help" style="color:#EBAB17; text-decoration:none;">
                            <b>Check Help</b>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="background-color:#F5F5F5; font-size:12px; color:#888; padding:16px;">
                    <table>
                       <tbody>
                            <tr>
                                <td>
                                    <a href="https://senswave.net">
                                        <img src="https://storage.googleapis.com/pe-portal-consumer-prod-wagtail-static/images/visual-identity_logos_880x572-1.width-375.png?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=wagtail%40pe-portal-consumer-prod.iam.gserviceaccount.com%2F20250926%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250926T185747Z&X-Goog-Expires=86400&X-Goog-SignedHeaders=host&X-Goog-Signature=944ccce0b52498eec8419590eb6fbaddee34fa1088141fdaaef8ac1b622b3ee21f1a5c91b4a8b04e6dc35310f581fa8efaa9f858458588da811c123322a51d8bcc83985f41ad322168cc385fce0a2140e10c6507190bf21c6fc112f7806e70f35a3b753fa263f354ab50d66ddcd56483df85ab9c1ba761e9ef70c1678ca1510a6a57e4a28a3cfb86d5b110ef7352d6a1754f2b51bbf8a7a334f45bcf8305599b08714389e4f2f5a1c8451f6fcf0974a094471722ca9ef0f4cbb2f773a313da7fbb697ff610a646ca2885010036e9c64e7cda8ab78726cdb38fa4e4f1121149a82ec6323804cff414c1c86fe564086e7b94a99cd28748e3472ad718290debbc2f"
                                            alt="androidAppLink" style="height:96px; display:block;">
                                    </a>
                                </td>
                            </tr>
                       </tbody>
                    </table>

                    <p style="margin-top:16px; margin-bottom:8px;">
                        This email was autogenerated. Please do not reply directly to this message.
                    </p>
                    <p style="margin-top:0; margin-bottom:8px;">
                        If you suspect this email is fraudulent or from an illegitimate source, please
                        <a href="https://senswave.net/contact" style="color:#EBAB17;">contact with us.</a>
                    </p>
                    <p style="text-align:center; margin:0; padding-top:16px; padding-bottom:16px;">
                        Senswave 2025
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>